*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}

img, svg{
    max-width: 100%;
    height: auto;
}

a, button {
    cursor: pointer;
    background: none;
    border: none;
}

body{ 
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    height: 100vh;
}
.App{
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}
.wrapper{
    box-shadow: hsl(237, 12%, 33%) 0px 1rem 4rem;
    border-radius: 1rem;
    background-color: white;
    display: grid;
    align-items: center;
    justify-items: center;
    
}

.hero{
    position: relative;
}

@media screen and (min-width: 280px) and (max-width: 799px) {
    .desktop{
        display:none;
    }
    .wrapper{
        width: 80%;
        grid-template-columns: 1fr;
        
    }

    .box-hero{
        display: none;
    }

}

@media screen and (min-width: 900px) {

    .mobile{
        display:none;
    }

    .wrapper{
        overflow: hidden;
        width: 900px;
        min-height: 500px;

        grid-template-columns: 1fr 1fr;
    }

    .hero{
        width:100%;
        height: 100%;
        overflow: hidden;
        grid-area: 1/1/2/2;
        background-repeat: no-repeat;
        background-image: url('./images/bg-pattern-desktop.svg');
        background-size: auto;
        background-origin: border-box;
        background-position-y: 70%;
        background-position-x: 110%;

        display: grid;
        align-items: center;

    }

    .hero > img.desktop{
        transform: translateX(-3rem);
    }

    .box-hero{
        position:absolute;
        z-index: 2;
        transform: translate(-230%, 25%);
        
        content: url('./images/illustration-box-desktop.svg');
    }




    .content{
        height: 100%;
        width: 100%;
        padding: 2rem 4rem 2rem 0px;
        display: grid;
        gap: 1rem;
    }

        .content > section{
            display:grid;
            gap: 1rem;
            padding: 1rem 0px;
            align-items: center;
            justify-items: start;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-auto-columns: min-content;
            border-bottom: 1px solid hsl(240, 5%, 91%);
        }
        .content > section > h2{
            font-size: .9rem;
            grid-area: 1/1/2/5;
        }

        .content > section > p{
            display: none;
            font-size: .75rem;
            grid-area: 2/1/3/5;
        }

        .content > section > p.show{
            display: block;
        }

        .content > section > button{
            justify-self: center;
        }

}